html {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  /*padding-top: 117.605%;
  background: url(../img/bg_main.png) no-repeat center;
  background-size: contain;*/
}

#bg {
  position: absolute;
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: bottom;
}

.Button {
  position: absolute;
  width: 100%;
  height: 100%;
}

#icon01 {
  position:absolute;
  margin-left: 12.8%;
  margin-top: 21.43%;
}

#icon01:hover {
  content: url('../img/icon01_large.png');
  transform:scale(1.3);
}

#icon02 {
  position:absolute;
  margin-left: 36.145%;
  margin-top: 21.87%;
}

#icon02:hover {
  content: url('../img/icon02_large.png');
  transform:scale(1.3);
}

#icon03 {
  position:absolute;
  margin-left: 59.88%;
  margin-top: 21.92%;
}

#icon03:hover {
  content: url('../img/icon03_large.png');
  transform:scale(1.3);
}

#icon04 {
  position:absolute;
  margin-left: 83.55%;
  margin-top: 22.01%;
}

#icon04:hover {
  content: url('../img/icon04_large.png');
  transform:scale(1.3);
}
