html {
  margin: 0px;
  padding: 0px;
}

#bg {
  position: absolute;
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: bottom;
}

#record {
  position: absolute;
  width: auto;
  height: auto;
}
