html {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 0px;
  margin: 0px;
}
.Bg{
  height: 500px;
}
#bg {
  position: absolute;
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: bottom;
}

.Button {
  position: absolute
  padding: 0px;
  margin: 0px;
}

#start_button {
  position: absolute;
  margin-left: 40.5%;
  margin-top: 40%;
  cursor: pointer;
  top:-15px;
}

#finish_button {
  position: absolute;
  margin-left: 40.5%;
  margin-top: 40%;
  cursor: pointer;
  display: none;
  top:-15px;
}
